@model HomeworkAssignment3.Models.Type

<div>
    <h4>Edit Type</h4>
    @using (Html.BeginForm("Edit", "types", FormMethod.Post, new { @id = "editTypeForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.TypeId)

        <div class="form-group">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>

        <button type="submit" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
    }
</div>
