@model HomeworkAssignment3.Models.Author

<div>
    <h4>Delete Author</h4>
    <p>Are you sure you want to delete the author @Model.Name @Model.Surname?</p>
    @using (Html.BeginForm("DeleteConfirmed", "authors", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.AuthorId)

        <button type="submit" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
    }
</div>
